{% load i18n %}
<footer class="off-white-bg">
    <!-- Footer Top Start -->
    <div class="footer-top pt-50 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mr-auto ml-auto">
                    <div class="newsletter text-center">
                        <div class="main-news-desc">
                                <div class="news-desc">
                                    <h3>{% trans "Подпишитесь на рассылку новостей" %}</h3>
                                    <p>{% trans "Получайте по электронной почте обновления о нашем последнем магазине и специальных предложениях" %}</p>
                                </div>
                        </div>
                        <div class="newsletter-box">
                            <form action="#">
                                <input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="text">
                                <button type="submit" class="submit">{% trans "Подписаться" %}</button>
                            </form>
                        </div>
                        </div>                            
                </div>
            </div>                    
            <div class="row">
                <!-- Single Footer Start -->
                <div class="col-lg-4  col-md-7 col-sm-6">
                    <div class="single-footer">
                        <h3>{% trans "Связь с нами" %}</h3>
                        <div class="footer-content">
                            <div class="loc-address">
                                <span><i class="fa fa-map-marker"></i>184 Main Rd E, St Albans VIC 3021, Australia.</span>
                                <span><i class="fa fa-envelope-o"></i>Email: yourinfo@example.com</span>
                                <span><i class="fa fa-phone"></i>{% trans "Телефон" %}: + 00 254 254565 54</span>
                            </div>
                            <div class="payment-mth"><a href="#"><img class="img" src="img/footer/1.png" alt="payment-image"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom off-white-bg2">
        <div class="container">
            <div class="footer-bottom-content">
                <p class="copy-right-text">Copyright © <a  href="#">Jantrik</a> All Rights Reserved.</p>
                <div class="footer-social-content">
                    <ul class="social-content-list">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
</footer>