{% extends 'base.html' %}
{% load shop_tags %}

{% block wrapper %}
<div class="wrapper">
{% endblock wrapper %}

    {% block content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="active"><a href="{% url 'product_list' %}">Shop</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Page Start -->
        <div class="main-shop-page pb-60">
            <div class="container">
                <!-- Row End -->
                <div class="row">
                    <!-- Sidebar Shopping Option Start -->
                    <div class="col-lg-3  order-2">
                        <div class="sidebar white-bg">
                            <form action="" method="get">
                                <div class="single-sidebar">
                                    <div class="group-title">
                                        <h2>categories</h2>
                                    </div>
                                    {% get_categories as categories %}
                                    <ul>
                                        {% for cat in categories %}
                                            <li>
                                                <input type="checkbox" name="cat" value="{{ cat.id }}">
                                                <a>{{ cat.name }} ({{ cat.get_num_products }})</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="single-sidebar">
                                    <div class="group-title">
                                        <h2>manufacturer</h2>
                                    </div>
                                    {% get_manufacturers as manufacturers %}
                                    <ul class="manufactures-list">
                                        {% for man in manufacturers %}
                                            <li>
                                                <input type="checkbox" name="mfact" value="{{ man.id }}">
                                                <a>{{ man.name }} ({{ man.get_num_products }})</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <button type="submit">Фильтр</button>
                            </form>
                            <!-- Single Banner Start -->
                            <div class="single-sidebar single-banner zoom pt-20">
                                <a href="#" class="hidden-sm"><img src="img/banner/8.jpg" alt="slider-banner"></a>
                                <a href="#" class="visible-sm"><img src="img/banner/6.jpg" alt="slider-banner"></a>
                            </div>
                            <!-- Single Banner End -->
                        </div>
                    </div>
                    <!-- Sidebar Shopping Option End -->                    
                    <!-- Product Categorie List Start -->
                    <div class="col-lg-9 order-lg-2">
                        <!-- Grid & List View Start -->
                        <div class="grid-list-top border-default universal-padding fix mb-30">
                            <div class="grid-list-view f-left">
                                <ul class="list-inline nav">
                                    <li><a data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                    <li><a  class="active" data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                                    <li>
                                        <span class="grid-item-list">
                                            {% if page_obj.has_next == False and page_obj.object_list|length == 1 %}
                                                Items {{ paginator.count }} of {{ paginator.count }}
                                            {% else %}
                                                Items {{ num1 }}-{{ num2 }} of {{ paginator.count }}
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Toolbar Short Area Start -->
                            <div class="main-toolbar-sorter f-right">
                                <div class="toolbar-sorter">
                                    <label>sort by:</label>
                                    <ul class="sorter">
                                        <li><a href="?{{ cat }}{{ mfact }}sort=expen">Expencive first</a></li>
                                        <li><a href="?{{ cat }}{{ mfact }}sort=cheap">Cheap first</a></li>
                                    </ul>
                                </div> 
                            </div>
                            <!-- Toolbar Short Area End -->
                        </div>
                        <!-- Grid & List View End -->
                        <div class="main-categorie">
                            <!-- Grid & List Main Area End -->
                            <div class="tab-content fix">
                                <div id="grid-view" class="tab-pane ">
                                    <div class="row">
                                        {% for product in product_list %}             
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="single-product">
                                                    <!-- Product Image Start -->
                                                    <div class="pro-img">
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <img class="primary-img" src="{{ product.get_primary_photo.photo.url }}" alt="single-product" width="270px" height="210px">
                                                        </a>
                                                    </div>
                                                    <!-- Product Image End -->
                                                    <!-- Product Content Start -->
                                                    <div class="pro-content">
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>                                
                                                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                        <p><span class="price">{{ product.cost }} руб.</span><del class="prev-price"></del></p>
                                                        <div class="pro-actions">
                                                            <div class="actions-secondary">
                                                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                                <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                                <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Product Content End -->
                                                </div>
                                            </div>
                                        {% endfor %}    
                                    </div>                                    
                                </div>
                                <!-- #grid view End -->
                                <div id="list-view" class="tab-pane active">
                                    <!-- Single Product Start -->
                                    {% for product in product_list %}
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="primary-img" src="{{ product.get_primary_photo.photo.url }}" alt="single-product" width="270px" height="210px">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                <p><span class="price">{{ product.cost }} руб.</span><del class="prev-price"></del></p>
                                                <p>{{ product.description|slice:":100" }}</p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                        <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>
                                    {% endfor %}                    
                                </div>
                                <!-- #list view End -->
                            </div>
                            <!-- Grid & List Main Area End -->
                        </div>
                        <!--Breadcrumb and Page Show Start -->
                        <div class="pagination-box fix">
                            {% include 'include/pagination.html' %}
                        </div>
                        <!--Breadcrumb and Page Show End -->
                    </div>
                    <!-- product Categorie List End -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Shop Page End -->

    {% endblock content %}
</div>